---
---

$container-max-width:  800px;
$base-font-size:       16px;
$mobile-font-size:     14px;

@import "dark";
@import "base";
h1, h2, h3, h4, h5, h6 { font-size: $base-font-size + 2; }
main p { padding-top: 4px; padding-bottom: 4px }
.centr { text-align: center }
.hight { height: 14em }
