---
---

$container-max-width:  800px;
$base-font-size:       16px;
$mobile-font-size:     14px;

@import "dark";
@import "base";
h1, h2, h3, h4, h5, h6 { font-size: $base-font-size + 2; }
main p { padding-top: 4px; padding-bottom: 4px }
.centr { text-align: center }
.hight { height: 14em }
.nothight { height: 7em }
.sidephoto { display: block; margin-left: auto; margin-right: auto; float: right; width: 60% }
.centrvideo { margin-left: auto; margin-right: auto; width: 18.667em; height: 14em; display: block; border: solid 1px white; margin-top: 5px; margin-bottom: 5px }
.centrvideowide { margin-left: auto; margin-right: auto; width: 24.889em; height: 14em; display: block; border: solid 1px white; margin-top: 5px; margin-bottom: 5px }

/*margin: auto;display: table;width: 426px; height: 240px*/
